<% if @visite > 1 %>
  <% if @contact.errors.any? %>
  <div class="alert alert-danger">
     The form contains <%= pluralize( @contact.errors.count,"error") %> .
  </div>
  <ul>
  <%  @contact.errors.full_messages.each do |msg| %>
    <li class="text-danger"><%= msg %></li>
  <% end %>
  </ul>
  <% end %>
<% end %>
