<div class="container footer" >
  <div class="row">
    <div class="col-md-6">&copy; <%= Time.now.year %> ibobafumba@gmail.com</div>
    <div class="col-md-6"><%= link_to "Contact us", "#" %></div>
  </div>

</div>

<!--
  <ul>
    <li>&copy; <%= Time.now.year %> ibobafumba@gmail.com</li>
    <li>Contact us</li>
  </ul>
-->
